
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Sura&family=Teko:wght@500&display=swap');
*{
    margin: 0px;
    padding:0px;
}
.container6{

    border: 6px solid red;
    background-color: blue;
    border-radius: 10px;
    margin-top: 68px;
    
    
    
}
.row6{
    background-color:yellow;
    color: red;
    margin: 10px;
    justify-content: center;
    border: 6px solid rgb(6, 156, 6);
    border-radius: 25px;
    font-family: 'Teko', sans-serif;
    font-size: x-large;
    
    
}
h1{
    text-align: center;
}
p{
    margin: 20px;
}
